**/node_modules
**/.turbo
**/dist
**/build
**/.dart_tool
**/.env
apps/passenger/*
!apps/passenger/package.json
apps/driver/*
!apps/driver/package.json
packages/rido_ui/*
!packages/rido_ui/package.json
packages/rido_data/*
!packages/rido_data/package.json
docs
.git
**/.next
**/.env.local
