**/node_modules
**/.turbo
**/dist
**/build
**/.dart_tool
**/.env
apps/passenger/*
!apps/passenger/package.json
apps/driver/*
!apps/driver/package.json
packages/tamiltaxi_ui/*
!packages/tamiltaxi_ui/package.json
packages/tamiltaxi_data/*
!packages/tamiltaxi_data/package.json
docs
.git
**/.next
**/.env.local
